<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.self.spider.servies.remote.RuleMapper">

    <resultMap type="com.self.spider.entities.AvRule" id="BaseResultMap">
        <id column="id" property="id"  />
        <result column="keyWord" property="keyWord" />
        <result column="markType" property="markType" />
    </resultMap>

    <insert id="addKeyWord" parameterType="com.self.spider.entities.AvRule" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into auto_mark (keyWord,markType) VALUES
        (#{keyWord},#{markType})
    </insert>

    <select id="queryByKeyWord" resultMap="BaseResultMap">
        select * from auto_mark  where keyWord = #{keyWord} limit 1
    </select>

    <delete id="deleteByKeyWord">
        delete from auto_mark where keyWord = #{keyWord}
    </delete>

</mapper>