<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>管理界面</title>

    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    function save(){
        //获取所有选中的标签
        var marks = "";
        var actor = $("#actor").val();
        var id = $("#id").val();
        $(".badge-info").each(function(index,item) {
            marks = marks + $(this).attr("id") +",";
        });
        if(marks.length !=0 ){
            marks = marks.substring(0,marks.length-1);
        }
        window.location.href="/update?marks="+marks+"&actor="+actor+"&id="+id;
    }
    function changeClass(id){
        var oldName = $("#"+id).attr("class");
        if(oldName=="badge badge-pill badge-default"){
            $("#"+id).attr("class","badge badge-pill badge-info");
        }else{
            $("#"+id).attr("class","badge badge-pill badge-default");
        }
    }

    $(function (){
        //800 678
        var width = $(".card").width() - 2;
        $(".carousel").css("height",width/800*678)
    })


</script>
    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }
    </style>

<body>

<input type="hidden" th:value="${av.id}" id="id">
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">&nbsp;&nbsp;&nbsp;标记标签&nbsp;&nbsp;&nbsp;</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/manager?lableType=1">&nbsp;&nbsp;&nbsp;标记标签&nbsp;&nbsp;&nbsp;</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manager?lableType=2">&nbsp;&nbsp;&nbsp;新增标签&nbsp;&nbsp;&nbsp;</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manager?lableType=4">&nbsp;&nbsp;&nbsp;新增规则&nbsp;&nbsp;&nbsp;</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/manager?lableType=3">&nbsp;&nbsp;&nbsp;爬虫数据&nbsp;&nbsp;&nbsp;</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container" style="margin-top:8px">
    <div class="card rounded mx-auto bg-warning" style="width:98%;margin-top: 4px;margin-bottom: 4px;">
        <div th:id="${av.id}"  class="carousel slide border border-white" data-ride="carousel">
            <!-- 指示符 -->
            <ul class="carousel-indicators">
                <th:block th:each="image,imageStat : ${#strings.listSplit(av.img, ',')}">
                    <li  th:attr="data-target='#'+${av.id},data-slide-to=${imageStat.index}"   class="" th:class="${imageStat.index == 0} ? 'active' : '' "  ></li>
                </th:block>
            </ul>
            <!-- 轮播图片 -->
            <div class="carousel-inner">
                <th:block th:each="image,imageStat : ${#strings.listSplit(av.img, ',')}">
                    <div class="" th:class="${imageStat.index == 0} ? 'carousel-item active' : 'carousel-item' " >
                        <img th:src="${image}"  th:title="${av.actor}" class="img-fluid mx-auto d-block">
                    </div>
                </th:block>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text" th:text="${av.name}"></p>
            <form>
                <tr th:each="type : ${types}">
                    <div class="form-group">
                        <label for="actor" th:text="${type.typeName}+'：'">Types:</label>
                        <td th:each="kidType : ${type.typeList}">
                             <span class="badge badge-pill badge-default" th:class="${#strings.indexOf(av.types+',',kidType.id+',')>-1} ? 'badge badge-pill badge-info' : 'badge badge-pill badge-default' "
                                   th:onclick="|changeClass('${kidType.id}')|" th:id="${kidType.id}" th:text="${kidType.typeName}"  onMouseOver="this.style.cursor='pointer';"></span>
                        </td>
                    </div>
                </tr>

                <div class="form-group">
                    <label for="actor">Actress:</label>
                    <input type="email" class="form-control" id="actor" th:value="${av.actor}">
                </div>
                <button type="button" class="btn btn-success" th:onclick="save()">SAVE AND NEXT</button>
            </form>

        </div>
    </div>
</div>



</body>
</html>